.left_mas_proyectos{
    font-family: 'Koulen', cursive;
    text-align: center;
    background-image: url(R.jpg);
    background-repeat: no-repeat;
    margin: auto;
    width: auto;
    height: auto;
    
    border: solid 2px rgb(32, 25, 25);
    padding: 30px;
    color: black;
    font-size: x-large ;
    
    
}